[submodule "pdf.js"]
	path = pdf.js
	url = https://github.com/zotero/pdf.js.git
[submodule "structured-document-text"]
	path = structured-document-text
	url = https://github.com/zotero/structured-document-text.git
